:root {
  --main-orange: #ed7839;
  --secondary-orange: #f48f44;
  --notification: #f85959;
  --font: #725c5c;
  --background: #fdf1eb;
  --gray-900: #333333;
  --gray-700: #5c5c5c;
  --input-background: #757575;
  --border-main: #cccccc;
  --border-secondary: #e7e7e7;
  --border-tertiary: #ececec;
  --author-background: #f8f8f8;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: var(--font);
}

/**************
SIDEBAR
**************/

.sidebar {
  max-width: 13.75rem;
  box-shadow: 0rem 0rem 0.625rem 0rem #0000003d;
  z-index: 1;
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-main p {
  color: var(--white);
  font-size: 1.875rem;
  font-weight: 700;
  background-image: linear-gradient(
    rgba(255, 179, 84, 1),
    rgba(238, 122, 58, 1)
  );
  padding: 0.97rem 1.51rem;
}

.sidebar-main img {
  width: 13.75rem;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
}

.options-tab {
  padding-top: 0.44rem;
  padding-bottom: 0.44rem;
  padding-left: 1.5rem;
  font-family: "Quicksand", sans-serif;
  color: var(--font);
  font-size: 0.94rem;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.089);
  cursor: pointer;
  transition: background 0.1s;
}

.options-tab:hover {
  background: var(--background);
}

.selected-tab {
  border-left: 5px solid var(--main-orange);
}

/**************
NAVIGATION
**************/

.main {
  max-width: 71rem;
  position: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background: var(--background);
  max-width: 71rem;
  padding: 0.22rem 2.25rem;
}

.navigation-left h3 {
  font-size: 1.375rem;
  font-weight: 400;
}

.navigation-left p {
  font-size: 0.875rem;
}

.navigation-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.38rem;
}

.navigation-right button {
  display: flex;
  align-items: center;
  background: var(--background);
  border: 1px solid rgba(0, 0, 0, 0.089);
  padding: 0.32rem 0.57rem;
  border-radius: 0.19rem;
  cursor: pointer;
}

.globe-icon {
  height: 1.19rem;
}

.navigation-right span {
  color: var(--gray-900);
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
}

.user-info {
  display: flex;
  gap: 0.25rem;
}

.user-info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.welcome {
  color: var(--gray-900);
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
}

.email {
  font-size: 0.75rem;
  color: var(--gray-900);
  font-family: "Quicksand", sans-serif;
}

.profile-pic {
  display: flex;
  align-items: center;
  position: relative;
}

.profile-pic img {
  border-radius: 50%;
  height: 1.875rem;
}

.notifications {
  position: absolute;
  color: var(--white);
  background: var(--notification);
  font-size: 0.625rem;
  font-weight: 700;
  top: 0%;
  right: -10%;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

/**************
MAIN CONTENT
**************/

.main-content {
  margin: 1.25rem 2.8rem 1.875rem;
  max-width: 71rem;
  display: flex;
  gap: 1.95rem;
}

/**************
MAIN BLOCK
**************/

.main-content-mainblock p {
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 1.563rem;
  color: var(--main-orange);
}

.video {
  border-radius: 4px;
  overflow: hidden;

  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 0 auto;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

/**************
SIDE BLOCK
**************/

.button-section {
  display: flex;
  justify-content: flex-end;
  gap: 0.32rem;
}

.button-section img {
  height: 1.19rem;
}

.button-section button {
  display: flex;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  background: var(--main-orange);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: filter 0.3s;
}

.button-section button:hover {
  filter: brightness(0.9);
}

.sideblock-question {
  color: var(--main-orange);
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin: 0.8rem 0rem;
  margin-left: 1.2rem;
}

.sideblock-details {
  border: 1px solid var(--border-tertiary);
  border-radius: 3px;
}

.sideblock-details h2 {
  font-size: 1.25rem;
  padding: 0.69rem 0.94rem;
  background: var(--background);
}

.sideblock-details-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0.94rem;
}

.sideblock-details-first p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
}

.sideblock-details-first strong {
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.sideblock-details-first span {
  font-family: "Quicksand", sans-serif;
}

.sideblock-details-second p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
}

.sideblock-details-third {
  margin-top: 0.625rem;
}

.sideblock-details-third p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
}

/**************
SUMMARY SECTION
**************/

.summary {
  max-width: 71rem;
  border: 1px solid var(--border-tertiary);
  border-radius: 0.19rem;
  margin: 0 2.8rem 1.875rem;
}

.summary h3 {
  font-size: 1.25rem;
  padding: 0.625rem 0.94rem;
  background: var(--background);
}

.summary-container {
  margin: 0.94rem;
}

.summary-container p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.8rem;
}

.summary-button {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--main-orange);
  text-decoration: none;
  cursor: pointer;
}

.summary-content {
  display: block;
}

.content-hide {
  display: none;
}

/**************
DISCUSSIONS SECTION
**************/

.discussions {
  max-width: 71rem;
  border: 1px solid var(--border-tertiary);
  border-radius: 0.19rem;
  margin: 0 2.8rem 3.125rem;
}

.discussions h3 {
  font-size: 1.25rem;
  padding: 0.625rem 0.94rem;
  background: var(--background);
}

.share-your-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.share-your-questions h4 {
  margin-top: 0.94rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--main-orange);
}

.icon-box {
  margin: 1.875rem 0;
  display: flex;
  gap: 3.125rem;
}

.question-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-text p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
}

.orange-button {
  display: flex;
  align-items: center;
  padding: 0.44rem 0.82rem;
  margin: 0.94rem 0;

  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    rgba(255, 179, 84, 1),
    rgba(238, 122, 58, 1)
  );
  cursor: pointer;
  transition: filter 0.3s;
}

.orange-button img {
  height: 1.06rem;
}

.orange-button span {
  color: var(--white);
  font-family: "Quicksand", sans-serif;
  font-size: 0.94rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.orange-button:hover {
  filter: brightness(0.9);
}

/**************
FORM SECTION
**************/

.form {
  padding: 0.94rem 0rem;
  margin: 0 1.06rem;
  border-bottom: 1px solid var(--border-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form p {
  font-size: 0.875rem;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 0.625rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
}

label {
  font-weight: 700;
  color: var(--main-orange);
  margin: 0.625rem 0rem 0.25rem;
}

input {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  padding: 0.625rem auto;
  padding: 0.625rem 1.44rem;
  border-radius: 4px;
  border: 1px solid var(--border-main);
}

textarea {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  padding: 0.625rem 1.44rem 0.625rem;
  border-radius: 4px 4px 0 0;
  border: 1px solid var(--border-main);
}

.submit-line {
  display: flex;
}

.submit-line p {
  background: var(--border-tertiary);
  width: 100%;
  padding: 1.25rem auto;
  margin-bottom: 0px;
  border-radius: 0 0 0 0.25rem;
  border: 1px solid var(--border-main);
  border-top: none;
}

.form-button {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;

  padding: 0.44rem 5.625rem;
  border-radius: 0 0 4px 0;
  border: none;

  color: var(--white);
  background-image: linear-gradient(
    rgba(255, 179, 84, 1),
    rgba(238, 122, 58, 1)
  );
  cursor: pointer;
  transition: filter 0.3s;
}

.form-button:hover {
  filter: brightness(0.9);
}

/**************
SUBMIT SECTION
**************/

.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-form h4 {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--main-orange);
}

.submit-form p {
  margin-top: 1.125rem;
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
}

.submit-form a {
  margin-top: 1.62rem;
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  text-decoration: underline;
  color: var(--secondary-orange);
}

.other-topics-button {
  display: flex;
  align-items: center;
  padding: 0.56rem 3.43rem;
  margin: 2.938rem 0 0.94rem;

  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    rgba(255, 179, 84, 1),
    rgba(238, 122, 58, 1)
  );
  cursor: pointer;
  transition: filter 0.3s;
}

.other-topics-button img {
  height: 1.06rem;
}

.other-topics-button span {
  color: var(--white);
  font-family: "Quicksand", sans-serif;
  font-size: 0.94rem;
  font-weight: 700;
  letter-spacing: 1px;
}

/**************
SUBMIT OPTIONS
**************/

.hide-section {
  display: none;
}

.hide-options {
  opacity: 0;
}

.comment-added {
  opacity: 0.5;
}

.blur {
  position: relative;
  z-index: 0;
  filter: blur(1px);
  background: var(--author-background);
}

.submit-message {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  margin-top: -7.5rem;
  padding-bottom: 1.87rem;
  left: 48.5%;
}

.submit-message img {
  color: var(--input-background);
}

.submit-message p {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.edit-topic-button {
  font-size: 0.875rem;
  color: var(--main-orange);
  text-decoration: underline;
  cursor: pointer;
}

/**************
DISCUSSIONS BLOCK
**************/

.float-line {
  border: 1px solid var(--border-secondary);
  margin: -2rem 0.94rem 1.07rem;
  z-index: -1;
}

.discussion-block {
  border: 1px solid var(--border-secondary);
  border-radius: 4px;
  margin: 2rem 0.94rem 1.07rem;
  box-shadow: 0rem 0rem 0.5rem 0rem #0000001c;
}

.discussion-block-container {
  margin: 1.125rem 1.44rem 0.57rem;
}

.discussion-block-container h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: var(--main-orange);
}

.discussion-block-container h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--gray-700);
  margin-top: 0.19rem;
}

.discussion-block-container p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.625rem;
  margin-bottom: 0.375rem;
}

.discussion-block-options {
  display: flex;
  align-items: center;
  gap: 0.94rem;
}

.discussion-block-options p {
  color: var(--input-background);
}

.discussion-block-options img {
  transition: filter 0.3s;
  cursor: pointer;
}

.discussion-block-options img:hover {
  filter: brightness(0.9);
}

.options-button {
  height: 1.125rem;
}

.like-button {
  height: 1.56rem;
}

/**************
RESPONSE BLOCK
**************/

.response-container {
  display: block;
  border-top: 1px solid var(--border-secondary);
  padding: 1.125rem 1.44rem 2.2rem;
}

.response-container h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--main-orange);
}

.response-container h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
}

.response-container p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.response-container p + p {
  margin-top: 1.25rem;
}

.response-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.badge {
  display: flex;
  gap: 0.82rem;
}

.badge p {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: var(--main-orange);
}

.author-background {
  background: var(--author-background);
}

.hidden-response {
  display: none;
}

/**************
FOOTER IMAGE
**************/

.footer {
  margin-left: 0.875rem;
}

.footer img {
  width: 67.87rem;
}

/**************
HELPERS
**************/

.bold {
  font-weight: 700;
}
